html,body,#app{
    height: 100%;
}

.header{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    position:absolute;
    z-index:500;
    top:0;
    width:100%;
    background-color:#F7F7FA;
}