html, body, #app, .bg-page {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8 !important;
}

.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}

.no-height, .height-0 {
    height: 0 !important;
}

.heigth-100 {
    height: 100% !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.width-33 {
    width: 33%;
}

.width-50 {
    width: 50%;
}

.width-66 {
    width: 66%;
}

.width-67 {
    width: 67%;
}

.hide {
    display: none;
}

.bg-df-color {
    background-color: #f8f8f8 !important;
}

.bg-page {
    position: absolute;
}

.popup {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    z-index: 10400;
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
    transition: all 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.popup-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10200;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.btn-close-prpup {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    margin: 10px;
    z-index: 10600;
    font-size: 30px;
}

#app {
    position: fixed;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-rigth {
    text-align: right;
}

@font-face {
    font-family: "iconfont-sm";
    src: url('//at.alicdn.com/t/font_1433401008_2229297.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1433401008_2229297.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1433401008_2229297.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0) !important;
}

.header{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    position:absolute;
    z-index:500;
    top:0;
    width:100%;
    background-color:#F7F7FA;
}

.icon-left:before {
    content: "\e614";
}

.icon-left {
    margin-left: -0.1em;
}

.icon {
    font-family: "iconfont-sm" !important;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.bg-white {
    background: white;
}

.back-round-but {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 500;
    top: 15px;
    left: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
}

.product-content {
    overflow: scroll;
    height: calc(100vh - 45px);
}

.product-content img {
    width: auto;
    height: auto;
    max-width: 100% !important;
    max-height: 100%;
}

.product-content .info-title {
    margin-top: 25px;
    margin-bottom: -20px;
}

.component-product {
    position: absolute;
}

.component-product .botton-bar {
    height: 45px;
}

.component-product .btn {
    line-height: 45px;
    color: white;
}

.component-product .buy {
    background: #FF0036;
    font-size: 16px;
}

.component-product .cart {
    background: #FF9500;
}

.product-preview {
    height: calc(100vw);
    width: calc(100vw);
}

.real-price {
    color: red;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.buy-count-controller {
    width: 30px;
    float: left;
    line-height: 25px;
    margin: 0 1px;
    background: #eee;
    border: 1px;
    text-align: center;
}

.buy-commit {
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
}

.cart-footer {
    width: 100%;
    background: white;
    height: 45px;
    position: absolute;
    bottom: 50px;
    line-height: 40px;
}

.settlement-button {
    background: red;
    color: white;
    width: 90px;
    text-align: center;
    height: 45px;
}

.cart-edit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
}