.margin0 {
    margin: 0;
}

.pager li {
    padding-left: 70px;
}

.infContent {
    word-break: break-all;
}

.infContent img[src^="http://123.207.28.216:8082"] {
    width: 100%;
    height: 100%;
}