<template>
    <div class='component-address width-full'>
        <div class='bar-header navbar'>
            <div class='nav-lt'></div>
            <div @click="$router.go(-1)" style='width: 50px'>返回</div>
            <div class='absolute-left-25 width-50 text-center'>新增收货地址</div>
        </div>
        <div class="subbar-2 overflow-y-scroll">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">收货人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入收货人"
                                v-model='address.receiver'>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">手机号码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入手机号"
                                v-model='address.phone'>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">所在地区</label>
                    </div>
                    <div class="weui-cell__bd" @click='selectArea'>
                        <input id="cascadePickerBtn" class="weui-input" placeholder="请选择所在地区"
                                disabled v-model='areaName'/>
                    </div>
                </div>

            </div>
            <div class="weui-cells__title">详细地址</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="请输入详细地址" rows="3"
                                v-model='address.address'></textarea>
                        <div class="weui-textarea-counter"><!--<span>0</span>/200--></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabbar-confirm def-btn" @click='confirm'>
            确认
        </div>
    </div>
</template>

<script>

    exports({
        data: function () {
            return {
                areaName: "",
                address: {
                    id: "",
                    receiver: "",
                    phone: "",
                    regionsId: "",
                    address: "",
                }
            }
        },
        methods: {
            init: function () {
                console.log("init")
                let this_ = this;
                let id = this_.$route.query.id;
                if (id) {
                    axios.get("/byuer/shipping-address/" + id).then(function (resp) {
                        var data = resp.data;
                        if (data.success) {
                            this_.address = data.data;
                            let nodes = data.regions;
                            var areaName = "";
                            for (var i = 0; i < nodes.length; i++) {
                                areaName = nodes[i].name + " " + areaName;
                            }
                            this_.areaName = areaName;
                        } else {
                            this_.$router.go(-1)
                        }
                    })
                }
            },
            confirm: function () {
                var this_ = this;
                axios.post("/byuer/shipping-address/save", Qs.stringify(this.address)).then(function (resp) {
                    let data = resp.data;
                    console.log(data);
                    if (data.success) {
                        this_.address.id = data.id;
                        weui.toast("保存成功", {
                            duration: 1000, callback: function () {
                                this_.$router.go(-1);
                            }
                        })
                    } else {
                        weui.alert(data.message)
                    }
                })
            },

            selectArea: function () {
                var this_ = this;
                axios.get("/buyer/pca.json").then(function (resp) {
                    var pca = getPca(resp);
                    var config = {
                        id: 'cascadePicker',
                        depth: 3,
                        defaultValue: pca.areaIdToArr(this_.address.regionsId),
                        onConfirm: function onConfirm(result) {
                            var areaName = "";
                            for (var i = 0; i < result.length; i++) {
                                areaName += result[i].label + " "
                            }
                            this_.areaName = areaName;
                            this_.address.regionsId = result[result.length - 1].value
                        },
                    };
                    weui.picker(pca.toWeuiPicker(), config);
                })
            },
        },
        beforeRouteEnter: function (to, from, next) {
            next(function (this_) {
                this_.init()
            })
        },
    })

</script>

