<template>
    <div class='component-address width-full'>
        <div class='bar-header navbar'>
            <div class='nav-lt'></div>
            <div @click="$router.go(-1)" style='width: 50px'>返回</div>
            <div class='absolute-left-25 width-50 text-center'>我的地址</div>
            <div @click="$router.replace('/address/add')" class='weui-flex__item absolute-right-20'>添加</div>
        </div>
        <div class="subbar-1 overflow-y-scroll">
            <div class="weui-panel__bd" v-for='item in list'>
                <div class='weui-cell weui-cell_access weui-media-box weui-media-box_text'>
                    <div class='width-100' @click='checkAddress(item)'>
                        <p class="weui-media-box__desc weui-flex " style='padding-bottom: 5px'>
                            <span class='weui-flex__item'>{{item.receiver}}</span>
                            <span>{{item.phone}}</span>
                        </p>
                        <p class="weui-media-box__desc">{{item.fullAddress + item.address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    exports({
        data: function () {
            return {
                list: []
            }
        },

        methods: {
            init: function () {
                var this_ = this;
                axios.get("/byuer/shipping-address/list").then(function (resp) {
                    var list = this_.list = resp.data.list;
                });
            },
            checkAddress: function (address) {
                let query = this.$route.query;
                query.addressId = address.id;
                this.$router.go(-1);
                this.$router.replace({path: "/order/confirm", query: query});
            }
        },

        beforeRouteEnter: function (to, from, next) {
            next(function (this_) {
                this_.init()
            })
        },

    })
</script>

