<template>
    <div class='component-cart'>
        <!-- 列表 -->
        <div class="weui-panel weui-panel_access weui-cells_checkbox" v-for='store in list'>
            <div class="weui-panel__hd">
                <div class="weui-cell__hd position-relative">
                    <label>
                        <input type="checkbox" class="weui-check" v-model='store.checked' @click='selectStore(store)'>
                        <i class="weui-icon-checked"></i>
                    </label>
                    <span>{{store.store.name}}</span>
                </div>
                <div class='cart-edit'>
                    <a>编辑</a>
                </div>
            </div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_appmsg" v-for='item in store.items'>
                    <label>
                        <div class="weui-cell__hd">
                            <input type="checkbox" class="weui-check" @click='selectItem(item,store)'
                                    v-model='item.checked'>
                            <i class="weui-icon-checked"></i>
                        </div>
                    </label>
                    <router-link :to='("/product/" + item.item.product.id)'>
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb" :src="item.item.product.coverImage" alt="">
                        </div>
                    </router-link>
                    <div class="weui-media-box__bd">
                        <p class="weui-media-box__desc">{{item.item.product.name}}</p>
                        <div class="weui-media-box__desc" style="margin-top: 8px;">
                            <span class="real-price" style="line-height: 24px;">￥{{item.item.price | toFixed2}}</span>
                            <span class="clearfix float-right">
                                <a class="buy-count-controller" @click='changeCount(item,-1)'>-</a>
                                <input class="buy-count-controller" v-model='item.count' @change='changeCount(item)'>
                                <a class="buy-count-controller" @click='changeCount(item,1)'>+</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 底部结算 -->

        <div class='cart-footer clearfix'>
            <div class="weui-cells_checkbox float-left width-33">
                <label>
                    <input type="checkbox" class="weui-check" v-model='allChecked' @click='checkAll'>
                    <i class="weui-icon-checked"></i>
                    <span>全选</span>
                </label>
            </div>
            <div class="float-left width-67">
                <label class='text-align-center float-right settlement-button'
                        @click='settlement'>
                    结算
                </label>
                <label class='float-right' style='margin-right: 10px'>
                    <span>合计</span><span class='real-price'>￥{{totalFee | toFixed2}}</span>
                </label>
            </div>
        </div>

    </div>
</template>

<script>

    exports({
        data: function () {
            return {
                allChecked: false,
                totalFee: 0,
                list: []
            };
        },

        computed: {},

        methods: {
            loadData: function () {
                var this_ = this;
                axios.get("/buyer/cart/list").then(function (resp) {
                    var list = resp.data.list;
                    var map = {};
                    for (var i = 0; i < list.length; i++) {
                        var item = list[i];
                        var storeId = item.item.product.id;
                        map[storeId] = map[storeId] || {store: item.item.product.store, items: []};
                        map[storeId].items.push(item);
                        map[storeId].checked = map[storeId].store.checked || false;
                        item.checked = item.checked || false;
                    }
                    for (var key in map) this_.list.push(map[key]);
                })
            },

            changeCount: function (item, change) {
                if (change) {
                    item.count = Math.max(item.count + change, 1)
                }
                clearTimeout(item.updateCountTimeOut);
                item.updateCountTimeOut = setTimeout(function () {
                    axios.post("/buyer/cart/item/count/update", Qs.stringify({cartId: item.id, count: item.count}))
                }, 800)
            },

            isSelectedAll: function () {
                let list = this.list;
                for (var i = 0; i < list.length; i++) {
                    if (!list[i].checked) {
                        return false
                    }
                }
                return true
            },

            setSelectedAll(val) {
                let list = this.list;
                if (!list) return;
                for (let i in list) {
                    list[i].checked = val;
                    let items = list[i].items;
                    for (let j in items) {
                        items[j].checked = val
                    }
                }
            },
            changeStoreSelect: function (store) {
                if (store.checked) {
                    this.allChecked = this.isSelectedAll();
                } else {
                    this.allChecked = false;
                }
            }
            ,

            selectStore: function (store) {
                store.checked = !store.checked;
                for (let i in store.items) {
                    store.items[i].checked = store.checked;
                }
                this.changeStoreSelect(store)
            },
            selectItem: function (item, store) {
                item.checked = !item.checked;
                if (item.checked) {
                    for (let i in store.items) {
                        store.checked = true;
                        if (!store.items[i].checked) {
                            store.checked = false;
                            break;
                        }
                    }
                } else {
                    store.checked = false;
                }
                this.changeStoreSelect(store)
            },
            checkAll: function () {
                this.allChecked = !this.allChecked;
                this.setSelectedAll(this.allChecked)
            },
            settlement: function () {
                var list = this.list;
                var postData = [];
                for (let i = 0; i < list.length; i++) {
                    let items = list[i].items;
                    for (let j = 0; j < items.length; j++) {
                        let item = items[j];
                        if (item.checked) {
                            postData.push(item.id)
                        }
                    }
                }
                if (postData.length === 0) {
                    weui.alert("还没有选择商品哦");
                    return;
                }
                this.$router.push({path: "/order/confirm", query: {cartItemId: postData}});
            }
        },

        watch: {
            list: {
                deep: true,
                handler: function (list) {
                    this.totalFee = 0;
                    for (let i = 0; i < list.length; i++) {
                        let items = list[i].items;
                        for (let j = 0; j < items.length; j++) {
                            let item = items[j];
                            if (item.checked) {
                                this.totalFee += item.count * item.item.price
                            }
                        }
                    }
                }
            }
        },

        beforeRouteUpdate: function () {
            this.loadData();
        },

        created: function () {
            this.$nextTick(this.loadData());
        }
    });

</script>
