<!-- 确认订单 -->
<template>
    <div class="component-order-confirm position-relative height-100">
        <div class='position-relative subbar-1'>
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <div class='weui-cell weui-cell_access weui-media-box weui-media-box_text'>
                        <div @click='selectAddr' class='width-100'>
                            <p class="weui-media-box__desc weui-flex" style='padding-bottom: 5px'>
                                <span class='weui-flex__item'>{{address.receiver}}</span>
                                <span>{{address.phone}}</span>
                            </p>
                            <p class="weui-media-box__desc">{{address.fullAddress}}</p>
                        </div>
                        <span class="weui-cell__ft"></span>
                    </div>
                </div>
            </div>

            <div class="weui-panel weui-panel_access weui-cells_checkbox" v-for='store in list'>
                <div class="weui-panel__hd">
                    <div class="weui-cell__hd position-relative">
                        <span>{{store.name}}</span>
                    </div>
                </div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_appmsg" v-for='item in store.items'>
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb" :src="item.item.product.coverImage" alt="">
                        </div>
                        <div class="weui-media-box__bd">
                            <p class="weui-media-box__desc">{{item.item.product.name}}</p>
                            <div class="weui-media-box__desc" style="margin-top: 8px;">
                                    <span class="real-price"
                                            style="line-height: 24px;">￥{{item.item.price | toFixed2}}</span>
                                <span class="clearfix float-right">
                                <template v-if="cartItemId">
                                   <span class="line-height-25px">x{{item.count}}</span>
                                </template>
                                <template v-else>
                                    <a class="buy-count-controller" @click='item.count>1&&item.count--'>-</a>
                                    <input class="buy-count-controller" v-model='item.count'
                                            @change='changeCount(item)'>
                                    <a class="buy-count-controller" @click='item.count++'>+</a>
                                </template>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="weui-panel__ft">
                        <a class="weui-cell weui-cell_link" style="color: #0D0D0D;">
                            <div class="weui-cell__bd text-rigth weui-media-box__desc">
                                <span>共{{store.totalCount}}件商品  小计:</span>
                                <span class="real-price">￥{{store.totalFee}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-flex weui-tabbar tabbar-confirm">
            <div class="weui-flex__item text-rigth" style="padding-right: 10px">
                <span>合计金额:</span><span class="real-price">￥{{totalFee}}</span>
            </div>
            <div class="text-center" style="width: 100px">
                <div class="confirm-btn" @click='confirmOrders'>提交订单</div>
            </div>
        </div>

    </div>
</template>

<script>
    exports({
        data: function () {
            return {
                inAddressPage: null,
                cartItemId: this.$route.query.cartItemId,
                list: [],
                totalFee: 0,
                totalCount: 0,
                address: {}
            }
        },
        methods: {
            init: function () {
                this.list = [];
                var this_ = this;
                axios.get("/byuer/shipping-address/" + (this.$route.query.addressId || "")).then(function (resp) {
                    console.log("666");
                    if (resp.data.success) {
                        var address = resp.data.data
                        address.fullAddress = resp.data.fullAddress
                        this_.address = address;
                    } else {
                        this_.$router.push("/address/add");
                    }
                });
                if (this.cartItemId) {//从购物车来
                    let postData = Qs.stringify({ids: this.cartItemId}, {arrayFormat: 'repeat'});
                    axios.get("/buyer/cart/list?" + postData).then(function (resp) {
                        var list = resp.data.list;
                        if (resp.data.list.length === 0) {
                            this_.$router.replace("/main");
                        }
                        var map = {};
                        for (var i = 0; i < list.length; i++) {
                            var item = list[i];
                            var storeId = item.item.product.store.id;
                            map[storeId] = map[storeId] || item.item.product.store;
                            map[storeId].items = map[storeId].items || [];
                            map[storeId].items.push(item);
                        }
                        for (var key in map) this_.list.push(map[key]);
                    });
                } else {//立即购买

                }
            },
            selectAddr: function () {
                var query = this.$route.query;
                this.$router.push({path: "/address", query: query});
            },
            confirmOrders: function () {
                if (this.cartItemId) {
                    let url = "/buyer/order/add/from/cart";
                    let data = Qs.stringify({
                        cartItemIds: this.cartItemId,
                        addrId: this.address.id
                    }, {arrayFormat: 'repeat'});
                    axios.post(url, data).then(function (resp) {
                        console.log(resp)
                    })
                } else {
                    // TODO
                }
            }
        },

        watch: {
            list: {
                deep: true,
                handler: function (list) {
                    this.totalFee = 0;
                    this.totalCount = 0;
                    for (let i = 0; i < list.length; i++) {
                        let items = list[i].items;
                        list[i].totalCount = 0;
                        list[i].totalFee = 0;
                        for (let j = 0; j < items.length; j++) {
                            let item = items[j];
                            this.totalFee += item.count * item.item.price;
                            this.totalCount += item.count;
                            list[i].totalCount += item.count;
                            list[i].totalFee += item.count * item.item.price
                        }
                    }
                }
            }
        },


        beforeRouteUpdate: function () {
            this.init();
        },

        created: function () {
            this.$nextTick(this.init());
        }

    })
</script>