<template>
    <div class='component-product bg-page'>
        <div class='bar-header navbar'>
            <div class='nav-lt'></div>
            <div @click="$router.go(-1)" style='width: 50px'>返回</div>
            <div class='absolute-left-25 width-50 text-center'>商品详情</div>
            <div @click="$router.replace('/cart')" class='weui-flex__item absolute-right-20'>购物车</div>
        </div>
        <div class='popup-overlay' :class='{hide:hidePopup}'></div>
        <div class='popup bg-df-color overflow-hidden' :class='{"no-height":hidePopup}'>
            <div class='weui-icon-cancel btn-close-prpup' @click='togglePopup'></div>
            <div class="weui-panel__hd overflow-y-scroll height-100">
                <div class="weui-flex">
                    <div class="width-33">
                        <img width='100%' height='100%' :src="product.coverImage">
                    </div>
                    <div class="width-66">
                        <div class="weui-media-box">
                            <h3 class='real-price'>￥{{price}}</h3>
                        </div>
                    </div>
                </div>

                <div class='clearfix'>
                    <div class="float-left">
                        <div class="weui-media-box">
                            购买数量
                        </div>
                    </div>

                    <div class="float-right">
                        <div class="weui-media-box clearfix">
                            <a class="buy-count-controller" @click='changeCount(-1)'>-</a>
                            <input class='buy-count-controller' v-model='item.count'/>
                            <a class="buy-count-controller" @click='changeCount(1)'>+</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tabbar-confirm def-btn" @click='commitBuyInfo'>
                确定
            </div>
        </div>
        <div class='weui-tab__panel'>
            <div class='product-content'>
                <div class='product-preview'>
                    <img width='100%' height='100%' :src="product.coverImage">
                </div>

                <div class="weui-panel">
                    <div class="weui-panel__hd">
                        <h3 style='color: black'>
                            {{product.name}}
                        </h3>
                    </div>
                    <div class="weui-panel__bd">
                        <div class="weui-media-box weui-media-box_text">
                            <h4 class="weui-media-box__title real-price">
                                ￥{{price}}
                            </h4>
                            <ul class="weui-media-box__info weui-flex">
                                <li class="weui-media-box__info__meta weui-flex__item text-left">
                                    <span>价格</span>
                                    <del>￥{{marketPrice}}</del>
                                </li>
                                <li class="weui-media-box__info__meta weui-flex__item text-left">
                                    快递￥{{product.freight | toFixed2}}
                                </li>
                                <!--<li class="weui-media-box__info__meta weui-flex__item text-center">月销量9999</li>-->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="weui-loadmore weui-loadmore_line info-title">
                    <span class="weui-loadmore__tips bg-page">商品详情</span>
                </div>

                <div class="weui-panel">
                    <div class="weui-panel__hd">
                        <div class='weui-media-box weui-media-box_text' v-html='product.details'>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="weui-flex weui-tabbar botton-bar">
            <div class="weui-flex__item text-center cart btn" @click='togglePopup("cart")'>
                加入购物车
            </div>
            <div class="weui-flex__item text-center buy btn" @click='togglePopup("buy")'>
                立即购买
            </div>
        </div>
    </div>
</template>

<script>

    function __toPricrString__(priceArrs) {
        var max = Number.MIN_SAFE_INTEGER;
        var min = Number.MAX_SAFE_INTEGER;
        for (var k in priceArrs) {
            max = Math.max(priceArrs[k], max);
            min = Math.min(priceArrs[k], min);
        }
        return max === min ? max.toFixed(2) : min.toFixed(2) + " - " + max.toFixed(2)
    }

    exports({
        data: function () {
            return {
                popupType: undefined,
                hidePopup: true,
                product: {},
                tabbar_active_index: this.$router.path,
                item: {
                    id: undefined,
                    count: 1
                }
            }
        },

        methods: {
            togglePopup: function (popupType) {
                this.hidePopup = !this.hidePopup;
                this.item.count = 1;
                this.popupType = popupType
            },
            changeCount: function (change) {
                this.item.count = limitNum(this.item.count + change, 1, 10000)
            },
            loadData: function () {
                var htis_ = this;
                axios.get("/api/public/product/" + this.id).then(function (resp) {
                    var data = resp.data;
                    htis_.product = data.data
                });
            },
            commitBuyInfo: function () {
                let popupType = this.popupType;
                console.log(popupType);

                let item = this.item;
                if (!item.id && this.product.items.length === 1) {
                    item.id = this.product.items[0].id;
                }
                if (!item.id) {
                    weui.alert("请选择规格分类");
                    return;
                }

                if ("cart" === popupType) {//确认加入购物车

                    axios.post("/api/buyer/cart/add", Qs.stringify(item)).then(function (resp) {
                        if (resp.data.success) {
                            weui.toast("成功加入购物车", 1500);
                        } else {
                            weui.alert(resp.data.message);
                        }
                    }).catch(function (err) {
                        weui.alert("加入购物车失败")
                    })

                } else if ("buy" === popupType) {
                    this.$router.push({path: "/order/confirm", query: {productItemId: item.id, count: item.count}})
                }

                this.togglePopup();
            }
        },
        computed: {
            price: function (data) {
                if (!data.product.items) return;
                var items = data.product.items.map(function (item) {
                    return item.price
                });
                return __toPricrString__(items)
            },
            marketPrice: function (data) {
                if (!data.product.items) return;
                var items = data.product.items.map(function (item) {
                    return item.marketPrice
                });
                return __toPricrString__(items)
            },

        },

        watch: {
            $route: function () {
                this.loadData()
            }
        },

        props: ['id'],

        beforeRouteEnter: function (to, from, next) {
            next(function (this_) {
                this_.loadData()
            })
        },
    })

</script>